openapi: 3.0.3
info:
  title: MedTriageAI API
  version: 1.0.0
  description: |
    Cloud-based AI-assisted chest X-ray triage API.

    **Non-diagnostic, decision-support only.** All responses are intended to
    aid a qualified clinician's review and must not be used as a sole basis
    for diagnosis or treatment.

    Pipeline overview:
      1. Client uploads a chest X-ray to `/upload`.
      2. The image is stored in Cloud Storage and a case document is created
         in Firestore with `status = pending`.
      3. An asynchronous worker chain runs Cloud Vision + CheXNet, then
         Gemini 2.5 Flash, updating the case status through
         `vision_done → analyzing → complete`.
      4. A clinician reviews the case at `/cases/{caseId}/review` and signs off.
      5. A PDF report is rendered and emailed to the patient.
  contact:
    name: MedTriageAI Team
    email: contact@medtriage.ai
  license:
    name: Proprietary
servers:
  - url: https://api.medtriage.ai/v1
    description: Production (via API Gateway)
  - url: https://medtriage.ew.r.appspot.com/api
    description: App Engine direct (MVP / staging)

tags:
  - name: Auth
    description: Session and identity exchange
  - name: Upload
    description: Image ingestion (web upload and DICOM)
  - name: Cases
    description: Case retrieval, review, and reporting
  - name: Admin
    description: Tenant, user, and audit administration
  - name: Webhooks
    description: Outbound integrations (FHIR, partner systems)
  - name: System
    description: Health and metrics endpoints

security:
  - bearerAuth: []

paths:
  /auth/session:
    post:
      tags: [Auth]
      summary: Exchange a Firebase ID token for a backend session JWT
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [idToken]
              properties:
                idToken:
                  type: string
                  description: Firebase ID token obtained from the client SDK
      responses:
        '200':
          description: Session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionJwt:
                    type: string
                    description: Backend-issued JWT carrying tenantId and role claims
                  expiresAt:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

  /upload:
    post:
      tags: [Upload]
      summary: Upload a chest X-ray
      description: |
        Accepts a single JPEG or PNG chest X-ray. The image is persisted and
        the asynchronous AI pipeline is started. The response returns
        immediately with the new `caseId`; clients should subscribe to the
        Firestore document or poll `/cases/{caseId}` for status changes.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
                  description: JPEG or PNG, ≤ 10 MB
                consent:
                  type: boolean
                  description: Explicit consent for AI processing of PHI
      responses:
        '202':
          description: Upload accepted; pipeline started
          content:
            application/json:
              schema:
                type: object
                properties:
                  caseId:
                    type: string
                    format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: Payload too large (> 10 MB)
        '415':
          description: Unsupported media type (only image/jpeg and image/png)
        '429':
          $ref: '#/components/responses/RateLimited'

  /dicom:
    post:
      tags: [Upload]
      summary: DICOM ingestion (STOW-RS)
      description: |
        Hospital PACS endpoint. Accepts DICOM C-STORE / STOW-RS payloads,
        anonymizes PHI tags per the tenant's configuration, transcodes to
        JPEG, and submits the image to the regular pipeline.
      security:
        - mtlsClientCert: []
      requestBody:
        required: true
        content:
          application/dicom:
            schema:
              type: string
              format: binary
          multipart/related:
            schema:
              type: string
              format: binary
              description: DICOMweb STOW-RS payload (Part 18)
      responses:
        '202':
          description: Accepted; pipeline started
          content:
            application/json:
              schema:
                type: object
                properties:
                  caseId:
                    type: string
                    format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /cases:
    get:
      tags: [Cases]
      summary: List cases for the authenticated user / tenant
      parameters:
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/CaseStatus'
          description: Optional filter on case status
        - in: query
          name: severity
          schema:
            $ref: '#/components/schemas/Severity'
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Page of cases
          content:
            application/json:
              schema:
                type: object
                properties:
                  cases:
                    type: array
                    items:
                      $ref: '#/components/schemas/CaseSummary'
                  nextPageToken:
                    type: string
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'

  /cases/{caseId}:
    parameters:
      - $ref: '#/components/parameters/CaseIdParam'
    get:
      tags: [Cases]
      summary: Retrieve a case
      responses:
        '200':
          description: Case document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /cases/{caseId}/review:
    parameters:
      - $ref: '#/components/parameters/CaseIdParam'
    post:
      tags: [Cases]
      summary: Submit clinician review and optional sign-off
      description: |
        Requires the `clinician` role on the case's tenant. When
        `signOff = true`, the case transitions to `signed_off`, a PDF report
        is rendered, and the patient is notified by email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Review'
      responses:
        '200':
          description: Review accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  reviewId:
                    type: string
                    format: uuid
                  caseStatus:
                    $ref: '#/components/schemas/CaseStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /cases/{caseId}/escalate:
    parameters:
      - $ref: '#/components/parameters/CaseIdParam'
    post:
      tags: [Cases]
      summary: Escalate case to a radiologist
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
                  maxLength: 1000
      responses:
        '200':
          description: Case moved to awaiting_radiologist
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /cases/{caseId}/report.pdf:
    parameters:
      - $ref: '#/components/parameters/CaseIdParam'
    get:
      tags: [Cases]
      summary: Download the signed PDF report
      description: |
        Returns a 302 redirect to a Cloud Storage signed URL valid for
        15 minutes. The report is only available after clinician sign-off.
      responses:
        '302':
          description: Redirect to signed URL
          headers:
            Location:
              schema:
                type: string
                format: uri
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Case has not been signed off yet

  /admin/users:
    get:
      tags: [Admin]
      summary: List users in the current tenant
      parameters:
        - in: query
          name: role
          schema:
            $ref: '#/components/schemas/Role'
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Admin]
      summary: Invite a new user to the tenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email:
                  type: string
                  format: email
                role:
                  $ref: '#/components/schemas/Role'
      responses:
        '201':
          description: User invited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/users/{userId}:
    parameters:
      - in: path
        name: userId
        required: true
        schema:
          type: string
    delete:
      tags: [Admin]
      summary: Remove a user from the tenant
      responses:
        '204':
          description: User removed
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/audit:
    get:
      tags: [Admin]
      summary: Query the audit log
      parameters:
        - in: query
          name: from
          schema:
            type: string
            format: date-time
        - in: query
          name: to
          schema:
            type: string
            format: date-time
        - in: query
          name: actor
          schema:
            type: string
        - in: query
          name: action
          schema:
            type: string
        - in: query
          name: pageSize
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
        - in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Page of audit entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditEntry'
                  nextPageToken:
                    type: string
                    nullable: true
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/metrics:
    get:
      tags: [Admin]
      summary: Tenant-level analytics summary
      parameters:
        - in: query
          name: from
          schema:
            type: string
            format: date
        - in: query
          name: to
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Aggregated metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantMetrics'
        '403':
          $ref: '#/components/responses/Forbidden'

  /webhooks/fhir:
    post:
      tags: [Webhooks]
      summary: Outbound FHIR DiagnosticReport delivery (documented for completeness)
      description: |
        This endpoint is **called by MedTriageAI** against a customer-provided
        URL after sign-off. It is documented here so customers know the
        expected request shape. Authentication is by shared API key in the
        `X-API-Key` header, plus optional mTLS.
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FhirDiagnosticReport'
      responses:
        '200':
          description: Delivery accepted by the customer endpoint
        '4XX':
          description: Customer endpoint rejected the report
        '5XX':
          description: Customer endpoint error; MedTriageAI will retry

  /health:
    get:
      tags: [System]
      summary: Liveness probe
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  version:
                    type: string
                    example: 1.0.0

  /metrics:
    get:
      tags: [System]
      summary: Prometheus-format metrics (scraped by Cloud Monitoring)
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: Prometheus exposition format
          content:
            text/plain:
              schema:
                type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Backend session JWT issued by `/auth/session`
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    mtlsClientCert:
      type: mutualTLS
      description: PACS-side mTLS for DICOM ingestion

  parameters:
    CaseIdParam:
      in: path
      name: caseId
      required: true
      schema:
        type: string
        format: uuid

  responses:
    BadRequest:
      description: Request was malformed or failed validation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Authenticated but not permitted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Quota exceeded
      headers:
        Retry-After:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    CaseStatus:
      type: string
      enum:
        - pending
        - vision_processing
        - vision_done
        - analyzing
        - complete
        - awaiting_radiologist
        - signed_off
        - error

    Severity:
      type: string
      enum: [normal, mild, moderate, severe, unknown]

    Role:
      type: string
      enum: [patient, clinician, radiologist, admin]

    VisionLabel:
      type: object
      properties:
        description:
          type: string
        score:
          type: number
          minimum: 0
          maximum: 1

    Finding:
      type: object
      properties:
        name:
          type: string
          description: CheXNet class name
        score:
          type: number
          minimum: 0
          maximum: 1

    Condition:
      type: object
      properties:
        name:
          type: string
        confidence:
          type: string
          enum: [high, medium, low]
        location:
          type: string
          description: e.g. "right lower lobe", "bilateral"
        chexnetScore:
          type: number
          minimum: 0
          maximum: 1

    CaseSummary:
      type: object
      required: [caseId, status, timestamp]
      properties:
        caseId:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        status:
          $ref: '#/components/schemas/CaseStatus'
        classification:
          type: string
          nullable: true
        severity:
          $ref: '#/components/schemas/Severity'
        imageUrl:
          type: string
          format: uri

    Case:
      allOf:
        - $ref: '#/components/schemas/CaseSummary'
        - type: object
          properties:
            tenantId:
              type: string
            heatmap:
              type: string
              description: Base64-encoded PNG heatmap from Grad-CAM
              nullable: true
            visionLabels:
              type: array
              items:
                $ref: '#/components/schemas/VisionLabel'
            chexnetScores:
              type: object
              additionalProperties:
                type: number
                minimum: 0
                maximum: 1
            chexnetTopFindings:
              type: array
              items:
                $ref: '#/components/schemas/Finding'
            chexnetGradcamClass:
              type: string
              nullable: true
            conditions:
              type: array
              items:
                $ref: '#/components/schemas/Condition'
            findings:
              type: string
              description: Detailed radiological findings paragraph
            explanation:
              type: string
              description: Plain-language explanation for a non-radiologist
            error:
              type: string
              nullable: true

    Review:
      type: object
      required: [findings, severity]
      properties:
        findings:
          type: string
          maxLength: 4000
        severity:
          $ref: '#/components/schemas/Severity'
        signOff:
          type: boolean
          default: false
        note:
          type: string
          maxLength: 1000

    User:
      type: object
      required: [userId, email, role]
      properties:
        userId:
          type: string
        email:
          type: string
          format: email
        role:
          $ref: '#/components/schemas/Role'
        tenantId:
          type: string
        createdAt:
          type: string
          format: date-time

    AuditEntry:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        actor:
          type: string
          description: User ID or "system"
        action:
          type: string
          example: case.signed_off
        resource:
          type: string
          example: cases/3f1b…
        metadata:
          type: object
          additionalProperties: true

    TenantMetrics:
      type: object
      properties:
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        totalCases:
          type: integer
        casesBySeverity:
          type: object
          additionalProperties:
            type: integer
        casesByStatus:
          type: object
          additionalProperties:
            type: integer
        meanLatencySeconds:
          type: number
        p95LatencySeconds:
          type: number
        signOffRate:
          type: number
          minimum: 0
          maximum: 1

    FhirDiagnosticReport:
      type: object
      description: |
        Minimal subset of HL7 FHIR R4 DiagnosticReport we emit. See
        https://www.hl7.org/fhir/diagnosticreport.html for the full schema.
      properties:
        resourceType:
          type: string
          enum: [DiagnosticReport]
        id:
          type: string
        status:
          type: string
          enum: [final, amended]
        category:
          type: array
          items:
            type: object
        code:
          type: object
        subject:
          type: object
          description: FHIR Reference to Patient
        effectiveDateTime:
          type: string
          format: date-time
        conclusion:
          type: string
        presentedForm:
          type: array
          items:
            type: object
            description: FHIR Attachment (signed URL to the PDF)

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
        code:
          type: string
        details:
          type: object
          additionalProperties: true
